body {
  font-family:sans-serif;

}
h1,h2 {
  color: grey;
}

h1 {
  border-bottom:1px solid black;
  }
h2 {
  text-decoration:underline;
  }
   
p {
  color:maroon;
    
    }

p.greentea {
  color:green;
}

p.Raspberry {
  color:blue;
}

p.Blueberry {
  color:purple;
}


     /* h1,h2 {
      font-family:sans-serif;
      color: grey;
    }

    h1 {
      border-bottom:1px solid black;
    }
    h2 {
      text-decoration:underline;
    }
   
    p {
      color:maroon;
      font-family: sans-serif;
    
    }
*/

   