@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}


table {
  margin-left:  20px;  
  margin-right: 20px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse:collapse;
  /* border-spacing: 0px;两条线挨在一起，没有间距*/
}

td, th {
  border: thin dotted gray;
  padding:  5px;
}

caption {
  font-style: italic;
  padding-top:  8px;
}

td.center {
  text-align:center;
}

td.right {
  text-align:right;
}


/* 跨行后，背景色会混乱 改用类指定
tr:nth-child(odd) {
  background-color: #fcba7a;
}
*/ 

th {
  background-color: #cc6600;
}


.cellcolor {
  background-color: #fcba7a;
}


table table th {
  background-color: white;

}


li {
  list-style-image: url(images/backpack.gif);
  padding-top:  5px;   /* 列表项上内边距*/
  margin-left:  20px;  /* 列表项左外边距*/
  list-style-position:  outside; /* 标记包含在列表项盒子边框里*/
}

/*
li {
  list-style-type:  disc;
}
*/
