body {
  font-size: small;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 1.6em;
}

h1, h2 {
  color: #007e7e;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

#guarantee {

  line-height: 1.9em;
  font-style:italic;
  color:#444444;
  font-family:Georgia,"Times New Roman",Times,serif;

  border-color: white;
  border-width: 1px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 25px;
  padding-left: 80px;  /*改成50px时，右边内边距会不正常地增大，文本变成接近居中*/
  margin: 30px;
  margin-right:250px;
  background-image:url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;

}

#elixirs {
  border-width:thin;
  border-style:solid;
  border-color:#007e7e;
  width:200px;  /*将浏览器缩小小于200px, elixirs的边框消失且字体变大。为什么？*/

  padding-right:  20px; /*上边已有 h2 默认的外边距 */
  padding-left:   20px;
  padding-bottom: 20px;

  margin-left:    20px;

  text-align:     center; 

  background-image: url(../9-box/images/cocktail.gif);
  background-repeat: repeat-x;

  line-height: 1;
}

#elixirs h2 {
  color: black;
}

#elixirs h3 {
  color: #d12c47;
}

#footer {
  font-size: 50%;
  text-align: center;
  line-height: normal; /* 关键字 normal 允许浏览器选择一个适当的行高大小，通常要根据字体确定*/
  margin-top: 30px;
}

.cd {
  font-style:italic;
}

.artist {
  font-weight:bold;
}

a:link {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color:yellow;
}